.custom-width {
  width: 196px;
  object-fit: contain;
}

.navbar-nav .nav-link {
  position: relative;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

.navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #e78168;
}

.navbar-brand img {
  height: 50px;
}

.main-section {
  background-color: #e78168;
  overflow: hidden;
  position: relative;
  color: white;
  padding: 20px;
  margin-top: 5rem;
  border-radius: 8px;
}
main {
  margin-top: 8rem;
}
.main-content {
  display: flex;
  align-items: center;
  padding: 5rem;
  justify-content: space-between;
}

.main-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.phone-image {
  top: -18rem;
}

.main-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 100% 17%;
  background-image: url(/assets/bg-pattern-hero-circle.svg);
}

.position-relative img {
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s, background-color 0.3s;
}

.position-relative:hover .overlay {
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.img-cover {
  height: 300px;
}

.img-cover img {
  object-fit: cover;
}

.custom-width {
  width: 196px;
  object-fit: contain;
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

p {
  line-height: 1.6;
}

.beforeimg::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 80px;
  right: 0;
  bottom: 0;
  height: 65%;
  width: 65%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(/assets/bg-pattern-hero-circle.svg);
  border-radius: 50%;
}

.bg-custom {
  background-color: #e78168;
  color: white;
}

.btn {
  font-size: 1.25rem;
  padding: 10px 20px;
}

.footer {
  background-color: black;
  color: #ffffff;
}
.footer hr {
  border-top: 1px solid #ffffff;
  width: 140px;
  margin: 0;
}

.footer p,
.footer ul {
  margin-bottom: 1rem;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
